

<div class="panel-body">
    <div class="city">Climas para as Cidades do Estado SE/BR</div>
    <div class="date"></div>
    <div class="container-img">
        <img src="~/Content/icons/unknown.png" />
    </div>
    <div class="container-temp">
        <p>22</p>
        <span>°C</span>
    </div>
    <div class="weather">Nublado</div>
    <div class="hi-low">22c / 23c</div>


</div>